
.statumanu-feedback-report-img {
    width: 100%;
    transform: scale(2.5);
    position: relative;
    top: 0rem;
}

.showcase-statumanu-icp-prototype-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    margin-top: 150px;
}



.radiobuttons1 {
    position: absolute;
    /* display: grid; */
    padding-left: 22.9vw;
    display: table-column-group;
    flex-wrap: wrap-reverse;
    grid-gap: 29px;
    margin-top: -112px;
    /* transform: rotate(90deg); */
}




textarea {
    height: 77px;
    position: relative;
    margin: 50px 0px 0px 327.8px;
    width: 60%;
}

@media only screen and (max-width: 1900px) {
.radiobuttons1 {
    position: absolute;
    /* display: grid; */
    padding-left: 28.4vw;
    display: table-column-group;
    flex-wrap: wrap-reverse;
    grid-gap: 29px;
    margin-top: -112px;
    /* transform: rotate(90deg); */
}
}

@media only screen and (max-width: 1400px) {
.radiobuttons1 {
    position: absolute;
    /* display: grid; */
    margin: 0 auto;
    padding-left: 44.5vw;
    display: table-column-group;
    flex-wrap: wrap-reverse;
    grid-gap: 29px;
    margin-top: -112px;
    /* transform: rotate(90deg); */

}
}


@media only screen and (max-width: 1024px) {
    .radiobuttons1 {
        position: absolute;
        /* display: grid; */
        margin: 0 auto;
        padding-left: 43vw;
        display: table-column-group;
        flex-wrap: wrap-reverse;
        grid-gap: 29px;
        margin-top: -112px;
        /* transform: rotate(90deg); */
    }  
}    

@media only screen and (max-width: 768px) {
    .radiobuttons1 {
    position: absolute;
    /* display: grid; */
    padding-left: 44.3vw;
    display: table-column-group;
    flex-wrap: wrap-reverse;
    grid-gap: 29px;
    margin-top: -112px;
    /* transform: rotate(90deg); */
}
    }

    @media only screen and (max-width: 540px) {
    .radiobuttons1 {
        position: absolute;
        /* display: grid; */
        margin: 0 auto;
        padding-left: 44.5vw;
        display: table-column-group;
        flex-wrap: wrap-reverse;
        grid-gap: 29px;
        margin-top: -112px;
        /* transform: rotate(90deg); */
    }    
    }

    @media only screen and (max-width: 500px) {

    .statumanu-feedback-report-img {
        width: 100%;
        transform: scale(1.5);
        position: relative;
        top: 0rem;
    }

    .radiobuttons1 {
        position: absolute;
        /* display: grid; */
        margin: 0 auto;
        padding-left: 71.5vw;
        display: table-column-group;
        flex-wrap: wrap-reverse;
        grid-gap: 14px;
        margin-top: -130px;
        /* transform: rotate(90deg); */
        transform: scale(0.75);
    }

    textarea {
        height: 77px;
        position: relative;
        margin: -15px 0px 0px 145.8px;
        width: 55%;
        transform: scale(0.6);
    }

    #showcase .btn {
        margin-top: -50px;
    }

    .main-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 20px 0;
        margin-top: 0px;
    }
}
